<div class="container">

  <div class="col-md-12">
    <h2 class="my-title">Listado platillos</h2>
    <div ngbDropdown>
      <input type="text" placeholder="Nombre" class="form-control"  [formControl]="NombreIngresado">
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Listado de categorias
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a *ngFor="let categoria of categorias" class="dropdown-item" (click)="FiltrarXCategoria(categoria.codigo)">{{categoria.descripcion}}</a>
      </div>
    </div>
    <button class="btn btn-danger"  (click)="FiltrarXEstado(0)">Listar eliminados</button>
    <button class="btn btn-primary" style="margin-left:20px;" (click)="FiltrarXEstado(1)">Listar actuales</button>
    <button [routerLink]="['/home']" class="btn btn-primary my-btn" > Volver</button>
    <button class="btn btn-primary my-btn" (click)="AgregarPlatillo()"> Agregar</button>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Categoria</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let platillo of platillos">
          <td>{{platillo.codigo}}</td>
          <td>{{platillo.nombre}}</td>
          <td>{{platillo.descripcion}}</td>
          <td>{{platillo.precio}}</td>
          <td>{{platillo.categoria.descripcion}}</td>
          <td><button class="btn btn-danger" (click)="ActualizarPlatillo(platillo)" >Actualizar</button></td>
          <td *ngIf="!PlatilloElimnado(platillo)"><button class="btn btn-danger" (click)="EliminarPlatillo(platillo)" >Eliminar</button></td>
          <td *ngIf="PlatilloElimnado(platillo)" ><button class="btn btn-danger" (click)="RestaurarPlatillo(platillo)" >Restaurar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>