<div class="container">

  <div class="col-md-12">
    <h2 class="my-title">Listado Categorias</h2>


    <button [routerLink]="['/home']" class="btn btn-primary my-btn"> Volver</button>

    <table class="table">
      <tbody>
        <tr class="row">
          <div (click)="SeleccionarCategoria(categoria)" class="card col-md-4" *ngFor="let categoria of categorias">
            <img class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{categoria.descripcion}}</h5>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>